[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gtts = "*"
requests = "*"
english-words = "*"
django-summernote = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
