{% extends 'base.html' %}
{% load static %}
{% block title %} Grammar {% endblock title %}
{% block content %}
    <div class="first-sector2">
        <div class="text-container">
            <h1>Grammar</h1>
            <h2 class="text2">Revise and practise your grammar to help you increase your confidence and improve your
                language level.</h2>
        </div>
    </div>

    <div class="second-section"><p>Practise your English grammar with clear grammar explanations and practice exercises
        to test your understanding. The learning materials are organised into two sections, organised by English
        level.<br><br>

        All learners, whatever their level, have questions and doubts about grammar as they're learning English. There
        is also a grammar reference which helps to explain the verb tenses and grammar rules in a clear and simple
        way.<br><br>

        Decide which area of grammar you need help with today and choose a grammar point to work on. When you do the
        interactive exercises, you can see how well you've done. By revising and practising your grammar you will
        increase your confidence in English and improve your language level.
        <br><br>

        Practising little and often is the best way to improve your grammar, so come back tomorrow to choose another
        grammar point to work on. Good luck! </p>
        <div class="fourth-container2">
            <div class="grammar-elements">
                <a><i class="fa-regular fa-circle-check"></i> Beginner Grammar</a><br>
                <a><i class="fa-regular fa-circle-check"></i> Elementary Grammar</a><br>
                <a><i class="fa-regular fa-circle-check"></i> Pre-Intermediate Grammar</a><br>
                <a><i class="fa-regular fa-circle-check"></i> Intermediate Grammar</a><br>
                <a><i class="fa-regular fa-circle-check"></i> Advanced Grammar</a><br>
            </div>
        </div>
    </div>
    <h1 class="text-right-help">Help</h1>
            <div class="fourth-container2">
            <div class="grammar-elements">
                <a><i class="fa-regular fa-circle-check"></i> Comprehensive Learning</a><br>
                <a><i class="fa-regular fa-circle-check"></i> Grammar Excellence</a><br>
                <a><i class="fa-regular fa-circle-check"></i> Vocabulary Brilliance</a><br>
                <a><i class="fa-regular fa-circle-check"></i> Interactive Learning</a><br>
                <a><i class="fa-regular fa-circle-check"></i> Improving Language</a><br>
            </div>
        </div>
    <div class="grammar-levels-container">
    <img src="{% static 'images/beginner.jpg' %}" alt="image">
     <div class="grammar-text-container">
         <h1> <a href="#">Beginner - Pre-Intermediate </a></h1>
    <p>Are you a learner between beginner and pre-intermediate English level? In this section, you can improve your grammar with our clear and simple grammar lessons.</p>
    </div>
    </div>

        <div class="grammar-levels-container">
    <img src="{% static 'images/image6.jpg' %}" alt="image">
     <div class="grammar-text-container2">
         <h1><a href="#">Intermediate - Upper Intermediate </a></h1>
    <p>Are you a learner between intermediate and upper intermediate English level? In this section, you can improve your grammar with our clear and simple grammar lessons.</p>
    </div>
    </div>

            <div class="grammar-levels-container">
    <img src="{% static 'images/image5.jpg' %}" alt="image">
     <div class="grammar-text-container3">
         <h1><a href="#">Advanced </a></h1>
    <p>Are you a learner in advanced English level? In this section, you can improve your grammar with our clear and simple grammar lessons.</p>
    </div>
    </div>

    <div class="space">

    </div>
{% endblock content %}