{% extends "base.html"%}
{% load static %}
{% block content %}
    <div class="first-sector">
    <div class="text-container">
        <h2 class="text">Learn English online and improve your skills through our high-quality courses and resources.</h2>
    </div>
    </div>
    <div class="second-sector">
    <p >Everything you find here has been specially created by the British Council, the world's English teaching experts.</p>
    </div>
    <div class="third-section">
    <h1>We provide you with the right tools to help you interact confidently in the real world.</h1>
        <div class="container">
    <div class="container-right">
        <h1>Grammar</h1>
        <p>Revise and practise your grammar to improve your language level and increase your confidence.</p>
        <ul>
            <li>Clear and simple grammar explanations to help you revise and practise different grammar points.</li>
            <li>Online exercises to help you check your understanding of the grammar points</li>
            <li>Use the grammar reference for further practice and more detailed explanations.</li>
        </ul>
        <button class="button">Start Learning</button>
    </div>
        <div class="container-left">
                <<img src={% static 'images/image3.jpg' %}>
        </div>
        </div>
    </div>

        <div class="third-section">
        <div class="container">
        <div class="container-left">
                <<img src={% static 'images/image4.jpg' %}>
        </div>
                <div class="container-right">
        <h1>Vocabulary</h1>
        <p>Learn new words and improve your language level to be able to communicate in English effectively.</p>
        <ul>
            <li>Online exercises to help you learn the meaning, pronunciation and spelling of new words.</li>
            <li>Learn new words connected to a wide range of different topics.</li>
            <li>Play our word games and have fun as you improve your vocabulary.</li>
        </ul>
                    <button class="button">Start Learning</button>
    </div>
        </div>
    </div>

<div class="fourth-container">
<div class="fourth-container-left">
        <img src="{% static 'images/icon1.jpg' %}">
    <a href="#"><b>Understand your english Level</b></a>
        <a href="#">Learn more about the different CEFR levels and what learners at each level can do.</a>

</div>
<div class="fourth-container-right">
        <img src="{% static 'images/icon2.png' %}">
                <a href="#"><b>Free online English test </b></a>
        <a href="#">Get an indication of your English proficiency to help you choose learning materials at the right level.</a>

</div>
</div>



{% endblock content %}
